/**
 * Component: nav-horizontal
 *
 * @author Maximilian Hoffmann http://maximilianhoffmann.com
 */

%nav-horizontal {

  list-style-type: none;
  margin: 0;
  padding: 0;

  > .nav-item {
    display: inline-block;
  }

}
