/**
 * Reset Styles
 *
 * @author Maximilian Hoffmann http://maximilianhoffmann.com
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  background: rgba(255,255,0,.2);
  text-shadow: none;
}
::selection {
  background: rgba(255,255,0,.2);
  text-shadow: none;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  text-rendering: optimizeLegibility;
  line-height: 1;
}

h1,h2,h3,h4,h5,h6,p,blockquote,ul,ol,li,img {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}