/**
 * Reset Styles
 *
 * @author Maximilian Hoffmann http://maximilianhoffmann.com
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  background: rgba(255,255,0,.2);
  text-shadow: none;
}
::selection {
  background: rgba(255,255,0,.2);
  text-shadow: none;
}

html {
  min-height: 100%;
  text-rendering: optimizeLegibility;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ul,
ol,
li,
img,
form,
fieldset,
legend,
label {
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}